@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: #212933;
}

#header {
  position: sticky;
  top: 0;
} /*No tomó el  sticky*/
.navbar-modificada {
  background-color: #212933;
}
.navbar-modificada a {
  color: white !important;
}
.navbar-modificada img {
  width: 100px;
  height: 30px;
}

.navlink-modificada {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  font-family: "Poppins", sans-serif;
}
.navlink-modificada:hover {
  color: #f4a74d !important;
}
.navlink-modificada:hover.btn-contacto {
  color: #7041fe !important;
}

.div-container-modificado {
  padding: 30px;
}
.div-container-modificado div {
  border: none;
}

.btn-contacto {
  border: 1px #7041fe solid;
  border-radius: 20px;
}

@media screen and (max-width: 574px) {
  .btn-contacto {
    border: none;
  }
}

@font-face {
  font-family: "SF UI Display";
  src: url("../../fonts/sf-ui-display-black-58646a6b80d5a.otf");
}
body {
  font-family: "", sans-serif !important;
}

/* background-color: $primary-color;
color: whgitite; */
/* font-family: 'Roboto Slab', serif; */
/*No puedo cambiar la font family*/
.main__index .tarjeta--index {
  color: white;
}
.main__index .tarjeta--index .btn-modificado {
  color: white;
}
.main__index .tarjeta--index .btn-modificado:hover {
  color: #f4a74d;
}

.main__index {
  height: 800px;
  background-image: url(/img/fondo2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: 10;
  /* img{
      transform: rotate(180deg);
  } */
}

.subtítulo__index {
  margin-bottom: 20vh;
  padding-left: 5vh;
}
.subtítulo__index h2 {
  text-decoration-line: underline;
}

.btn-modificado {
  border-color: #7041fe;
  margin-top: 15px;
  color: white;
  font-weight: 600;
}
.btn-modificado :hover {
  color: #f4a74d !important;
}

@media (max-width: 780px) {
  .main__index {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.tarjeta--index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 780px) {
  .tarjeta--index {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.tarjeta--index p {
  font-size: 60px;
  font-weight: 600;
}
@media (max-width: 780px) {
  .tarjeta--index p {
    font-size: 30px;
  }
}
.tarjeta--index h1 {
  font-size: 25px;
}

.titulo__index {
  padding-top: 8rem;
  padding-left: 18rem;
  font-size: 40px;
  font-weight: 800;
  text-decoration: underline #25C0B7;
}

.texto__index {
  padding: 1rem 18rem 2rem 18rem;
  font-size: 36px;
  text-align: justify;
}

.main__nosotros h5 {
  font-weight: 600;
}
.main__nosotros p {
  font-size: 20px;
}

.titulo__nosotros {
  font-weight: 600;
  padding-bottom: 30px;
}

.btn-contacto--modificado {
  background-color: gray;
  color: white;
  font-weight: 600;
}
.btn-contacto--modificado:hover {
  color: white;
}

.tarjeta--index {
  color: white;
}
.tarjeta--index a:hover {
  color: #f4a74d;
}

.section__index h5 {
  color: white;
  font-weight: 600;
}
.section__index i {
  font-size: 20px;
  color: black;
  margin-bottom: 1rem;
}
.section__index em {
  color: white;
  font-weight: 600;
}

.tarjeta--modificada {
  background-color: #212933;
}
.tarjeta--modificada:hover {
  color: #f4a74d !important;
}

.reconocimiento-facial {
  border: none;
}

.reconocimiento-armas {
  border: none;
}

.section-imagen {
  border: none;
}

.card-principal {
  border: none;
}

.subtítulo__index h5 {
  text-decoration-line: underline !important;
  margin-bottom: 30px;
}

.cards__index {
  margin-left: 40px;
  margin-right: 40px;
  z-index: -1;
}
.cards__index img {
  width: 100px;
  height: 80px;
}
.cards__index img:hover {
  color: #7041fe;
}

.titulo__elnegocio {
  color: white;
  font-weight: 600;
  padding-bottom: 30px;
}

.parrafo__elnegocio {
  text-align: justify;
  text-align-last: left;
  color: white;
}

.btn-modificado--quehacemos {
  color: white;
  background-color: #7041fe;
}
.btn-modificado--quehacemos:hover {
  background-color: #f4a74d;
  color: white;
}

.section__elnegocio {
  font-size: 25px;
}
@media (max-width: 780px) {
  .section__elnegocio {
    font-size: 15px;
  }
}

.titulo__nosotros {
  color: white;
}

.titulo__galeria {
  color: white;
  font-weight: 600;
  padding-bottom: 30px;
}

.card-galeria--modificada h5 {
  font-weight: 600;
}
.card-galeria--modificada p {
  font-size: 20px;
}

.btn-contacto--modificado {
  color: #25c087;
}
.btn-contacto--modificado:hover {
  background-color: #f4a74d;
  color: #7041fe;
}

.section__galeria {
  margin-left: 100px;
  margin-right: 100px;
}
.section__galeria img {
  width: 100px;
  height: 80px;
}

.section__contacto {
  width: 50%;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
}

.titulo__contacto {
  color: #f4a74d;
  font-weight: 600;
  padding-bottom: 30px;
}

.form-label {
  color: white;
}

/* .form-control{

} */
textarea {
  height: 10rem;
}

.btn-contacto--modificado {
  background-color: #7041fe;
}
.btn-contacto--modificado:hover {
  background-color: #f4a74d;
}

.footer--modificado {
  margin-top: 100px;
  height: 300px;
  background-image: url(/img/fondo2.png);
  background-size: 100% 100%;
}

.footer--modificado {
  color: grey;
}
.footer--modificado .fab:hover {
  color: #f4a74d;
}
.footer--modificado .fa-instagram:hover {
  color: #f4a74d;
}
.footer--modificado .bi:hover {
  color: #f4a74d;
}
.footer--modificado i {
  font-size: 20px;
  padding: 1rem;
  color: grey;
}

.contenedor__footer--modificado p {
  color: grey;
  font-weight: 500;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
