* {
    margin: 0;
    padding: 0;
  }
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
  body {
    font-family: 'Roboto Slab', serif;
    }
 
//components

  @import "./components/header";
  @import "./components/main";
  @import "./components/section";
  @import "./components/footer";

//base

  @import "./base/variables";

  
  
  