@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap');
@import "../base/variables";



.footer--modificado {
    color: grey;
    
    .fab:hover {
        color: $secondary-color;
    }
    .fa-instagram:hover {
        color:$secondary-color;
    }
    .bi:hover {
        color:$secondary-color;
    }
            i {
                font-size: 20px;
                padding: 1rem;
                color: grey;
                
                }
                

}
.contenedor__footer--modificado {
       
        p {
            color: grey;
            font-weight: 300;
            font-size: 15px;
        }
}


