@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap');
@import "../base/variables";


#header {
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-modificada {
    background-color: #212933;
    
    a {
        color: white !important;
    }
    img {
          
        width: 100px;
        height: 30px;
    }
        
} 

.navlink-modificada {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;   
    font-family: "Poppins", sans-serif;
    &:hover {
        color:  $terciary-color !important; 
    }
    &:hover.btn-contacto {
        color: $secondary-color !important;
    }
}

// Revisar esta media query para quitar borde de botón contacto 
.div-container-modificado {
    padding: 30px;
    div {
        border: none;
    }
}
.btn-contacto {
    border: 1px $secondary-color solid;
    border-radius: 20px;
}
.btn-contacto {
    @media screen and (max-width: 991px) {
        border: none;
    } 
}