@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap');




@import "../base/variables";

//
/* .navbar {
    background: $primary-color;
} */
.navbar-modificada {
    color: white;
    
    img {
          
        width: 100px;
        height: 30px;

    }
        
} 



.navlink-modificada {
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    color: white;   
    font-family: "Poppins", sans-serif;
    &:hover {
        color:  $terciary-color !important; 
    }
    
    
}
.btn-contacto {
    @media (max-width: 780px) {
        border: none;
    } 
}

.div-container-modificado {
    padding: 30px;
    div {
        border: none;
    }
}

.btn-contacto {
    border: 1px $secondary-color solid;
    border-radius: 20px;

}