@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap');




@import "../base/colores";

//

.navbar-modificada {
    @extend %estilo;
    img {
          
        width: 100px;
        height: 60px;

    }
        
} 




.navlink-modificada {
    
    text-decoration: none;
    color: black;
    font-weight: 600;    
    font-family: "Poppins", sans-serif;
    &:hover {
        color:  $secondary-color !important; 
    }
    
}

.div-container-modificado {
    padding: 30px;
    div {
        border: none;
    }
}

