@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap");
@import "../base/variables";
@import "../base/mixins";
@import "../base/extendes";


body {
  font-family: "Poppins", sans-serif;
}

//Index

.btn-modificado {
    background-color: $secondary-color; 
    border-color: black; 
    margin-top: 15px;
    color: white;
    font-weight: 600;
    &:hover {
        background-color: $primary-color;
    }
}

.main__index {
    @media (max-width: 780px) {
        margin-top: 10px;
        margin-bottom: 10px;
        
    } 
}

.tarjeta--index {
    @media (max-width: 780px) {
        margin-top: 30px;
        margin-bottom: 30px;
        
        

}
    
    p {
        font-size: 60px; 
        font-weight: 600;
        @media (max-width: 780px) {
            font-size: 30px;
        } 
    }
        h1 {
            font-size: 25px;
            
        
    }
}

.img-principal {
    width: 90%;
    padding: 1rem;
    @media (max-width: 780px) {
        display: none;
    } 
}

.main__index {
    @include margin-top-bottom;

}

//El Negocio

.tabla--modificada {
    
    margin-bottom: 100px;
    font-size: larger;
    @media (max-width: 780px) {
        font-size: 12px;
    } 
}

 //Nosotros

 .main__nosotros {
    @include margin-top-bottom-medium;
     h5 {
         font-weight: 600

    }
    p {
        font-size: 20px;
    }
    
}
.titulo__nosotros {
    @extend %disposicion;
    font-weight: 600;
    padding-bottom: 30px;
    @include margin-top-bottom-medium;
}
//Contacto 

.btn-contacto--modificado {
    background-color: gray;
    color: white;
    font-weight: 600;
    &:hover {
        background-color: $primary-color;
        color:white;
    }
    
}