@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
@import "../base/variables";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap');




body {
    font-family: 'Montserrat', sans-serif !important ;
}
    /* background-color: $primary-color;
    color: whgitite; */
    /* font-family: 'Roboto Slab', serif; */


//Index

/*No puedo cambiar la font family*/

.main__index {
    
    
    .tarjeta--index {
        
        color: white;
        .btn-modificado {
            color: white;
            &:hover {
                color:$terciary-color;
            }
        }
        
    }
}

.main__index {
    
    height:800px;
    background-image: url(/img/fondo2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    z-index: -1;
    
}
.subtítulo__index {
    margin-bottom: 20vh;
    padding-left: 5vh;
    h2 {
        text-decoration-line: underline ;    
    }
}

.btn-modificado {

    border-color: $secondary-color;
    margin-top: 15px;
    color: white;
    font-weight: 600;
    & :hover {
        color: $terciary-color !important;
    }

}

.main__index {
    @media (max-width: 780px) {
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
}

.tarjeta--index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    @media (max-width: 780px) {
        margin-top: 30px;
        margin-bottom: 30px;


    }

    p {
        font-size: 60px;
        font-weight: 600;

        @media (max-width: 780px) {
            font-size: 30px;
        }
    }

    h1 {
        font-size: 25px;


    }
}

//Nosotros

.main__nosotros {
    
    h5 {
        font-weight: 600;

    }

    p {
        font-size: 20px;
    }

}

.titulo__nosotros {

    font-weight: 600;
    padding-bottom: 30px;

}

//Contacto 

.btn-contacto--modificado {
    background-color: gray;
    color: white;
    font-weight: 600;

    &:hover {

        color: white;
    }

}