@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap");
@import "../base/variables";



//Index

.tarjeta--index {
    
    color: white;
    a {
        &:hover {
            color:$terciary-color;
        }
    }

}

.section__index {
    
   h5 {
        color: white; 
        font-weight: 600;
        
    }
        
            i {
                font-size: 20px;
                color: black;
                margin-bottom: 1rem;
                
            }
            em {
                color: white;
                font-weight: 600;
            }
                }
        
.tarjeta--modificada {
    
    background-color: #212933;
        &:hover {
        color: $terciary-color !important;
        
        }
}

.reconocimiento-facial {
    border: none;
}

.reconocimiento-armas {
    border: none;
}

.section-imagen {
    border: none;
}
.card-principal {
    border: none;
}
//Que hacemos

.titulo__elnegocio {
    
    font-weight: 600;
    padding-bottom: 30px;
}

.section__elnegocio {
    
    font-size: 25px;
    @media (max-width: 780px) {
        font-size: 15px;
    } 
}

//Productos

.titulo__galeria {
   
    font-weight: 600;
    padding-bottom: 30px;
   
}


.card-galeria--modificada {
    h5 {
        font-weight: 600;
    }
    p {
        font-size: 20px;
    }
}
//Contacto

.section__contacto {
   
    font-size: 20px;
    font-weight: 600;
    
}
.titulo__contacto {
    
    font-weight: 600;
    padding-bottom: 30px;
    
}

textarea {
    height: 10rem;
}


