@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,700;1,200&family=Roboto+Mono:ital,wght@0,100;0,200;1,100&display=swap");
@import "../base/variables";
@import "../base/mixins";
@import "../base/extendes";


//Index

.section__index {
    @include margin-top-bottom;
   h5 {
        color: white; 
        font-weight: 600;
        
    }
        
            i {
                font-size: 20px;
                color: black;
                margin-bottom: 1rem;
                
            }
            em {
                color: white;
                font-weight: 600;
            }
                }
        
.tarjeta--modificada {
    
    background-color: $primary-color;
        &:hover {
        background-color: gray;
        }
}

//El Negocio

.titulo__elnegocio {
    @extend %disposicion;
    font-weight: 600;
    padding-bottom: 30px;
}

.section__elnegocio {
    @include margin-top-bottom-medium;
    font-size: 25px;
    @media (max-width: 780px) {
        font-size: 15px;
    } 
}

//Galería

.titulo__galeria {
    @extend %disposicion;
    font-weight: 600;
    padding-bottom: 30px;
    @include margin-top-bottom-medium;
}

.section__galeria {
    @include margin-top-bottom-medium;
    
}
.card-galeria--modificada {
    h5 {
        font-weight: 600;
    }
    p {
        font-size: 20px;
    }
}
//Contacto

.section__contacto {
    @include margin-top-bottom-medium;
    font-size: 20px;
    font-weight: 600;
    
}
.titulo__contacto {
    @extend %disposicion;
    font-weight: 600;
    padding-bottom: 30px;
    @include margin-top-bottom-medium;
}

textarea {
    height: 10rem;
}


