@mixin display ($display, $justify, $align) {
    display: $display;
    justify-content: $justify;
    align-items: $align;
}
@mixin margin-top-bottom {
    margin-top: 100px;
    margin-bottom: 100px;
}
@mixin margin-top-bottom-medium {
    margin-top: 40px;
    margin-bottom: 40px;
}